body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg , #FF5EDF 0%,#04c8DE 100%);
}

button {
  /* every button on page will be pointer , mouse pointer converted to pointer on hover */
  cursor: pointer;
}
